# Мини-проект. Бронирование отелей

## 1. Импорт данных. Знакомство.

In [2]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep = ';')

In [4]:
bookings.shape

(119390, 21)

In [5]:
bookings.dtypes # - типы данных

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [6]:
bookings[:7] # - первые 7 строк данных

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

## 2. Приведение данных в удобный формат

In [7]:
# названия колонок записываем в переменную cols
cols = bookings.columns 
# через генератор - создаём словарь, где Ключ - Старое имя столбцов, Значение - отредактированное_имя_солбца
fixed_cols_names = {i:i.lower().replace(' ','_') for i in cols} 
print (fixed_cols_names)

{'Hotel': 'hotel', 'Is Canceled': 'is_canceled', 'Lead Time': 'lead_time', 'arrival full date': 'arrival_full_date', 'Arrival Date Year': 'arrival_date_year', 'Arrival Date Month': 'arrival_date_month', 'Arrival Date Week Number': 'arrival_date_week_number', 'Arrival Date Day of Month': 'arrival_date_day_of_month', 'Stays in Weekend nights': 'stays_in_weekend_nights', 'Stays in week nights': 'stays_in_week_nights', 'stays total nights': 'stays_total_nights', 'Adults': 'adults', 'Children': 'children', 'Babies': 'babies', 'Meal': 'meal', 'Country': 'country', 'Reserved Room Type': 'reserved_room_type', 'Assigned room type': 'assigned_room_type', 'customer type': 'customer_type', 'Reservation Status': 'reservation_status', 'Reservation status_date': 'reservation_status_date'}

In [8]:
bookings = bookings.rename(columns = fixed_cols_names)  # переименовываем столбцы, используя заранее подготовленный словарь
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [8]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

## 3. Топ-5 стран, пользователи из которых совершили наибольшее число успешных бронирований?

In [9]:
# Способ №1
top_5_booking_countries = bookings.groupby('is_canceled', as_index = False).country.value_counts().head()
top_5_booking_countries

   is_canceled country  count
0            0     PRT  21071
1            0     GBR   9676
2            0     FRA   8481
3            0     ESP   6391
4            0     DEU   6069

In [10]:
# Способ №2
top_5_booking_countries = bookings.loc[bookings.is_canceled == 0].country.value_counts().head()
top_5_booking_countries

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

## 4. На сколько ночей в среднем бронируют отели типа City Hotel? Resort Hotel?

In [11]:
bookings.groupby('hotel').agg({'stays_total_nights':'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

## 5. Сколько наблюдений, в которых тип номера, полученного клиентом, отличается от изначально забронированного? 
*отмена бронирования также считается

In [28]:
len(bookings.loc[bookings.reserved_room_type != bookings.assigned_room_type]) #- len считает кол-во строк в df. loc - выводит из df только те значения, которые соответствую условию

14917

## 6. Проанализируйте даты запланированного прибытия (arrival_date_year). 
На какой месяц чаще всего оформляли бронь в 2016 году? 
Изменился ли самый популярный месяц в 2017 году?

In [29]:
# На какой месяц чаще всего оформляли бронь в 2016 году?
(
    bookings
        .query('arrival_date_year == 2016')
        .arrival_date_month
        .value_counts()
)

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [30]:
# Изменился ли самый популярный месяц в 2017 году?
(
    bookings
        .query('arrival_date_year == 2017')
        .arrival_date_month
        .value_counts()
)

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

## 7. Проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [15]:
(
    bookings
        .query("hotel == 'City Hotel' and is_canceled == 1")
        .groupby('arrival_date_year')
        .arrival_date_month
        .value_counts()

)

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

## 8. Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [16]:
bookings[['adults','children','babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

## 9. Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе
Resort hotel – отель курортный
В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [17]:
bookings['total_kids'] = bookings['children'] + bookings['babies']
bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

## 10. Как связан процент клиентов, которые отменили бронирование с наличием детей у клиентов

In [27]:
bookings['has_kids'] = (bookings['total_kids'] > 0) - # создаем колонку has_kids с типом bool, где True - есть дети
(
    bookings
        .groupby('has_kids')
        .is_canceled
        .mean()
        .round(4)*100
)

has_kids
False    37.22
True     34.92
Name: is_canceled, dtype: float64